{# templates/form/prototype_project_value.html.twig #}
<div class="value-item mb-3 p-3 border rounded" data-id="__name__">
    <div class="row">
        <div class="col-md-10">
            {{ form_row(form.attribute, {
                'attr': {'class': 'form-control'},
                'label': 'Attribut'
            }) }}
        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button type="button" class="btn btn-sm btn-outline-primary w-100 add-attribute-btn" 
                    data-bs-toggle="modal" data-bs-target="#attributeModal">
                <i class="fas fa-plus"></i> Nouveau
            </button>
        </div>
    </div>
    {{ form_row(form.value, {
        'attr': {'class': 'form-control'},
        'label': 'Valeur'
    }) }}
    <button type="button" class="btn btn-sm btn-outline-danger remove-value mt-2">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</div>