{# templates/admin/client/temporary.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="alert alert-info">
    La gestion des clients sera disponible prochainement
</div>
{% endblock %}